@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&display=swap');

*,html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.bghome{
    width: 100%;
    height: 200vh;
    background:linear-gradient(#19E2FE,#1C7EDBF7,#1F19B7F0);
    position: relative;
}
/* แผ่นหนึ่ง */
.pageone{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.svgtext{
    position: absolute;
    width: auto;
    height: 100vh;
    top: 0px;
    left: 0px;
}
.svgwave{
    position: absolute;
    width: 80vw;
    height: auto;
    top: 0px;
    right: 0px;
}
h1{
    font-size: 48px;
    font-family: "Finlandica", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: white;
}
p{
    font-size: 32px;
    font-family: "Finlandica", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: white;
}
.into-text{
    display: flex;
    width: 849px;
    gap: 25px;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: 15%;
    right: 12%;
}
.svgcircle{
    position: absolute;
    top: 46%;
    right: 0px;
}
/* แผ่นสอง */
.pagetwo{
    padding: 5% 15% 5% 15%;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    position: relative;
}
.bgtwo{
    padding: 20px 0px 20px 0px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    height: 80%;
    position: relative;
}
.left{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    gap: 10px;
}
.imgproject{
    width: 90%;
    height: 85%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
    border-radius: 5px;
}
.box2-1{
    background-color: #97B4E9;
    width: 100%;
    height: 33.3%;
    border-start-end-radius: 5px;
    border-start-start-radius: 5px;
}
.box2-2{
    background-color: #97B4E9;
    width: 100%;
    height: 33.3%;
}
.box2-3{
    background-color: #97B4E9;
    width: 100%;
    height: 33.3%;
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.box2-3 h2{
    font-size: 38px;
    color: #1369b9f7;
    text-decoration: underline;
    transition: all ease-in 0.2s;
}
.box2-3 h2:hover{
    font-size: 38px;
    color: #000000f7;
    transition: all ease-in 0.2s;
}
h2{
    font-size: 42px;
    font-family: "Finlandica", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
h3{
    font-size: 36px;
    width: 100%;
    text-align: left;
    font-family: "Finlandica", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: white;
    cursor: pointer;
}
.box4big{
    background-color: #97B4E9;
    width: 80%;
    height: 100%;
    border-radius: 5px;
}
pre {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 8px;
  overflow-x: auto;
  max-height: 250px;
  text-align: left;
  font-family: "Courier New", monospace;
  white-space: pre-wrap; /* preserve indentation and wrapping */
}
/* แผ่นสาม */
.pagethree{
    background-color: #2C27BB;
    padding: 5% 0% 5% 0%;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}
.bgthree{
    background-color: white;
    margin-top: 2%;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    width: 100%;
    height: 70%;
    position: relative;
}
.threebox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1%;
    width: 68%;
    height: 100%;
    gap: 25px;
}
.nametools{
    font-size: 22px;
    font-family: "Finlandica", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: white;
}
.tools1{
    position: absolute;
    font-family: "Finlandica", sans-serif;
    font-weight: bold;
    font-style: italic;
    color: rgba(0, 0, 0, 0.3);
    font-size: 100px;
    left: 0;
    bottom: 0;
    z-index: 1;
}
.tools2{
    position: absolute;
    font-family: "Finlandica", sans-serif;
    font-weight: bold;
    font-style: italic;
    color: rgba(0, 0, 0, 0.3);
    font-size: 100px;
    right: 0;
    top: 0;
    z-index: 1;
}

.box3{
    background:linear-gradient(#19E2FE,#1C7EDBF7,#1F19B7F0);
    width: 100%;
    height: 75%;
    box-shadow: 8px 8px 5px -3px rgba(0, 0, 0, 0.574);
    border-radius: 5px;
    z-index: 2;
}
/* แผ่นสี่ */
.pagefour{
    background:linear-gradient(#2C27BB,#171E4A);
    padding: 5% 0% 5% 0%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.bgfour{
    background-color: white;
    width: 60%;
    height: 80%;
    margin-top: 2%;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}
.video { 
  position: relative;
  width:100%;
  height: 100%;
}
.video iframe {
  position: absolute;
  top:0; left:0;
  width:100%; height:100%;
  border:0;
}
/* แผ่นห้า */
.pagefive{
    background-color: #171E4B;
    padding: 5% 0% 5% 0%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}
.bgfive{
    width: 50%;
    height: 80%;
    padding: 1%;
    gap: 45px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}
.box5{
    background:linear-gradient(#666B88);
    width: 100%;
    height: 75%;
    box-shadow: -9px 9px 5px -3px rgba(23, 30, 75, 0.65);
    border-radius: 5px;
    z-index: 2;
}
.img{
    width: 80%;
    height: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
    border-radius: 5px;
}
.id{
    font-size: 32px;
    font-family: "Finlandica", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: white;
}.name{
    font-size: 20px;
    font-family: "Finlandica", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: white;
}
.svgteam{
    position: absolute;
    width: 80vw;
    height: auto;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}
.popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.popup-content {
    background: rgba(0,0,0);
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 1000px;
    height: 80%;
    text-align: center;
}
.close-btn {
    float: right;
    cursor: pointer;
    font-size: 24px;
    color: red;
}