@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&display=swap');

*,html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.bghome{
    width: 100%;
    height: 200vh;
    background:linear-gradient(#19E2FE,#1C7EDBF7,#1F19B7F0);
    position: relative;
}
/* แผ่นหนึ่ง */
.pageone{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.svgtext{
    position: absolute;
    width: auto;
    height: 100vh;
    top: 0px;
    left: 0px;
}
.svgwave{
    position: absolute;
    width: 80vw;
    height: auto;
    top: 0px;
    right: 0px;
}
h1{
    font-size: 48px;
    font-family: "Finlandica", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: white;
}
p{
    font-size: 32px;
    font-family: "Finlandica", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: white;
}
.into-text{
    display: flex;
    width: 849px;
    gap: 25px;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: 15%;
    right: 12%;
}
.svgcircle{
    position: absolute;
    top: 46%;
    right: 0px;
}
/* แผ่นสอง */
.pagetwo{
    padding: 5% 15% 5% 15%;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}
.bgtwo{
    padding: 20px 0px 20px 0px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    height: 80%;
}
.left{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    gap: 10px;
}
.box2-1{
    background-color: #97B4E9;
    width: 100%;
    height: 33.3%;
    border-start-end-radius: 5px;
    border-start-start-radius: 5px;
}
.box2-2{
    background-color: #97B4E9;
    width: 100%;
    height: 33.3%;
}
.box2-3{
    background-color: #97B4E9;
    width: 100%;
    height: 33.3%;
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
}
.box4big{
    background-color: #97B4E9;
    width: 80%;
    height: 100%;
    border-radius: 5px;
}
/* แผ่นสาม */
.pagethree{
    background-color: #2C27BB;
    padding: 5% 0% 5% 0%;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}
.bgthree{
    background-color: white;
    margin-top: 2%;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    width: 100%;
    height: 70%;
}
.threebox{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1%;
    width: 45%;
    height: 100%;
    gap: 25px;
}
.tools1{
    position: absolute;
    font-family: "Finlandica", sans-serif;
    font-weight: bold;
    font-style: italic;
    color: rgba(0, 0, 0, 0.3);
    font-size: 100px;
    left: 0;
    z-index: 1;
}
.tools2{
    position: absolute;
    font-family: "Finlandica", sans-serif;
    font-weight: bold;
    font-style: italic;
    color: rgba(0, 0, 0, 0.3);
    font-size: 100px;
    right: 0;
    z-index: 1;
}

.box3{
    background:linear-gradient(#19E2FE,#1C7EDBF7,#1F19B7F0);
    width: 100%;
    height: 75%;
    box-shadow: 8px 8px 5px -3px rgba(0, 0, 0, 0.574);
    border-radius: 5px;
    z-index: 2;
}